<form id="chofer_form" name="{{ form.vars.full_name }}" action="{{ form.vars.action }}" method="POST"
      enctype="multipart/form-data">
    {% if form.vars.method == 'PUT' %}
        <input type="hidden" name="_method" value="PUT"/>
    {% endif %}
    {{ form_errors(form) }}
    {{ form_row(form._token) }}

    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.nombres) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.apellidos) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.cedula) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.genero) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.estadoCivil) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.nacionalidad) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.direccion) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.telefono) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.fechaNacimiento) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.identificador) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.pin) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.codigoBarras) }}
        </div>

    </div>

    <br/>

    {# buttons group #}
    <div class="row">
        <div class="col-md-4">
            <div class="btn-group">
                <a class="btn btn-primary" id="save_chofer_form_submit_btn">
                    <span class="glyphicon glyphicon-save"></span> Aceptar</a>
            </div>
            <div class="btn-group">
                <a class="btn btn-default" href="{{ path('chofer') }}"><span
                            class="glyphicon glyphicon-chevron-left"></span> Cancelar</a>
            </div>
        </div>
    </div>

</form>
