{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Modificar datos del Producto con Topes' %}

{% block area_trabajo %}

    <form id="producto_tope_form" action="{{ path('productotope_update',{'id':entity.id}) }}" method="post" enctype="multipart/form-data">

        {{ form_errors(edit_form) }}

        <div class="row show-grid">
            <div class="col-md-6">
                {{ form_row(edit_form.producto) }}
            </div>
            <div class="col-md-6">
                {{ form_row(edit_form.almacen) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-3">
                {{ form_row(edit_form.min) }}
            </div>
            <div class="col-md-3">
                {{ form_row(edit_form.max) }}
            </div>
            <div class="col-md-6">
                {{ form_row(edit_form.comentarios) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">
                <div class="btn-group">
                    <a class="btn btn-primary" id="save_producto_tope_form_submit_btn">
                        <span class="glyphicon glyphicon-save"></span> Aceptar</a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-default" href="{{ path('productotope') }}">
                        <span class="glyphicon glyphicon-chevron-left"></span> Cancelar</a>
                </div>
            </div>
        </div>

        {{ form_rest(edit_form) }}
    </form>

{% endblock %}


{% block contenido %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendors/bootstrap/js/bootstrap-modal.js') }}"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#buseta_bodegabundle_productotope_producto').chosen();
                $('#buseta_bodegabundle_productotope_almacen').chosen();
            });
            $('a#save_producto_tope_form_submit_btn').click(function () {
                $('form#producto_tope_form').submit();
            });
        </script>

{% endblock javascripts %}
