{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Modificar Bodega' %}

{% block area_trabajo %}

<form id="bodega_form" action="{{ path('bodega_update',{'id':entity.id}) }}" method="post" enctype="multipart/form-data" >

    <div class="row show-grid">
        <div class="col-md-4">
            {{ form_row(edit_form.nombre) }}
        </div>
        <div class="col-md-4">
            {{ form_row(edit_form.codigo) }}
        </div>
        <div class="col-md-4">
            {{ form_row(edit_form.responsable) }}
        </div>
    </div>

    <div class="row show-grid">
        <div class="col-md-6">
            {{ form_row(edit_form.descripcion) }}
        </div>
        <div class="col-md-6">
            {{ form_row(edit_form.direccion) }}
        </div>
    </div>

    <div class="row show-grid">
        <div class="col-md-4">
            <div class="btn-group">
                <a class="btn btn-primary" id="save_bodega_form_submit_btn">
                    <span class="glyphicon glyphicon-save"></span> Aceptar</a>
            </div>
            <div class="btn-group">
                <a class="btn btn-default" href="{{ path('bodega') }}">
                    <span class="glyphicon glyphicon-chevron-left"></span> Cancelar</a>
            </div>
        </div>
    </div>

    {{ form_rest(edit_form) }}
</form>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
    $('a#save_bodega_form_submit_btn').click(function () {
        $('form#bodega_form').submit();
    });
</script>
{% endblock %}

{% block contenido %}

{% endblock %}
