{% extends "BusetaCombustibleBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Crear Nuevo Servicio de Combustible' %}

{% block area_trabajo %}

    {% include '@BusetaCombustible/ServicioCombustible/form_template.html.twig' with {'form': form} %}

{% endblock area_trabajo %}

{% block javascripts %}
    <!-- Script -->
    <script type="text/javascript"
            src="{{ asset('bundles/busetacombustible/js/servicioCombustible/servicioCombustible.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var servicioCombustible = new TallerApp.Combustible.servicioCombustible('{{ form.vars.id }}', '{{ server.address }}');

            {#$.ajax({#}
                {#type: 'GET',#}
                {#url: 'http://{{ server.address }}:{{ server.port }}/boleta/api/boletas?fecha=',#}
                {#success: function (data) {#}
                    {#//var values = $.parseJSON(data);#}
                    {#var values = data;#}
                    {#var selectBoleta = $('select#combustible_servicio_combustible_boleta');#}
                    {#selectBoleta.html('<option></option>');#}
                    {#for (var i = 0, total = values.length; i < total; i++) {#}
                        {#var opt = "<option value=\"" + values[i].identificador + "\">" +#}
                                {#values[i].identificador + "</option>";#}
                        {#$(opt).appendTo(selectBoleta);#}
                        {#selectBoleta.trigger("chosen:updated");#}
                    {#}#}
                {#}#}
            {#});#}
        });
    </script>
{% endblock javascripts %}
