{% extends "BusetaTransitoBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Ver Datos de Accidente' %}

{% block header_right %}
    {% from '@BusetaTemplate/Macros/macros.html.twig' import documentState %}

    <h4 class="pull-right">
        {{ documentState(entity.estado, 'BusetaTransitoBundle') }}
    </h4>
{% endblock %}

{% block area_trabajo %}
    <table class="table table-striped" style="font-size: 16px;">
        {% if entity is defined and entity.parte == 'PENAL'
         or juicios|length > 0 %}
            <caption style="font-size: 22px;text-align: left;">Accidente</caption>
        {% endif %}
        <tbody>
        {% if entity.conciliacion %}
            <tr>
                <th>Se llegó a una conciliación</th>
            </tr>
        {% endif %}
        <tr>
            <th>Descripción</th>
            <td>{{ entity.descripcion }}</td>
        </tr>

        <tr>
            <th>Vehículo</th>
            <td>{{ entity.vehiculo }}</td>
        </tr>

        <tr>
            <th>Chofer</th>
            <td>{{ entity.chofer }}</td>
        </tr>

        <tr>
            <th>Fecha</th>
            <td>{{ entity.fecha|date('d/m/Y') }}</td>
        </tr>

        <tr>
            <th>Importe</th>
            <td>{{ entity.importe }}</td>
        </tr>

        {% if entity.responsable != '' %}
            <tr>
                <th>Responsable</th>
                <td>
                    {{ ('responsable.' ~ entity.responsable) | trans({}, 'BusetaTransitoBundle') }}</span>
                </td>
            </tr>
        {% endif %}
        {% if entity.quienPaga != '' %}
            <tr>
                <th>Quien solventa</th>
                <td>
                    {{ ('quien_paga.' ~ entity.quienPaga) | trans({}, 'BusetaTransitoBundle') }}</span>
                </td>
            </tr>
        {% endif %}

        </tbody>
    </table>
    <div class="form-actions">
        <a class="btn btn-primary" href="{{ path('accidente_edit', { 'id': entity.id }) }}">
            <i class="fa fa-edit"></i> Editar</a>
        <a class="btn btn-primary" href="{{ path('accidente') }}">
            <i class="fa fa-list"></i> Listado</a>
        {% if entity is defined and entity.estado == 'BO' %}
            <a id="btnNoParte" class="btn btn-primary"
               href="#"> No hubo parte</a>
            <a id="penalAccidente" class="btn btn-primary"
               href="#"> Penal</a>
            <a id="btnTransito" class="btn btn-primary"
               href="#"> Tránsito</a>
        {% endif %}
        {% if entity.estado == 'TRANSITO' and not entity.conciliacion %}
            <a id="crearJuicio" class="btn btn-primary"
               href="#"> Crear Juicio</a>
        {% endif %}
    </div>

    {% for juicio in juicios %}
        <table class="table table-striped" style="font-size: 16px;margin-top:10px;">
            <caption style="font-size: 22px;text-align: left;">Juicio</caption>
            <tbody>
            <tr>
                <th>Descripción</th>
                <td>{{ juicio.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha Inicio</th>
                <td>{{ juicio.fechaInicio|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Fecha Fin</th>
                <td>{{ juicio.fechaFin|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Resultado</th>
                <td>
                    {{ ('juicio.resultado.' ~ juicio.resultado) | trans({}, 'BusetaTransitoBundle') }}</span>
                </td>
            </tr>
            <tr>
                <th>Responsable</th>
                <td>
                    {{ ('responsable.' ~ juicio.responsable) | trans({}, 'BusetaTransitoBundle') }}</span>
                </td>
            </tr>
            <tr>
                <th>Quien solventa</th>
                <td>
                    {{ ('quien_paga.' ~ juicio.quienPaga) | trans({}, 'BusetaTransitoBundle') }}</span>
                </td>
            </tr>
            <tr>
                <th>Importe Abogado</th>
                <td>{{ juicio.importeAbogado }}</td>
            </tr>
            </tbody>
        </table>
        <div class="form-actions">
            <a id="editJuicio{{ juicio.id }}" class="btn btn-primary"
               href="#editJuicio" name="{{ juicio.id }}" data-responsable="{{ juicio.responsable }}"
               data-quienpaga="{{ juicio.quienPaga }}" data-resultado="{{ juicio.resultado }}"
               ><i class="fa fa-edit"></i> Editar Juicio</a>
        </div>
    {% endfor %}

    {% if entity is defined and entity.parte == 'PENAL' %}
        <table class="table table-striped" style="font-size: 16px;margin-top:10px;">
            <caption style="font-size: 22px;text-align: left;">Penal</caption>
            <tbody>

            <tr>
                <th>Nota</th>
                <td>{{ penal.nota }}</td>
            </tr>

            <tr>
                <th>Adjunto</th>
                <td>{{ penal.adjunto }}</td>
            </tr>

            <tr>
                <th>Alerta</th>
                <td>{{ penal.alerta }}</td>
            </tr>

            <tr>
                <th>Fecha</th>
                <td>{{ penal.fecha|date('d/m/Y') }}</td>
            </tr>

            <tr>
                <th>Expira</th>
                <td>{{ penal.fechaExpira|date('d/m/Y') }}</td>
            </tr>

            <tr>
                <th>Costo</th>
                <td>{{ penal.costo }}</td>
            </tr>

            </tbody>
        </table>
        <div class="form-actions">
            <a id="editPenalAccidente" class="btn btn-primary"
               href="#editPenalAccidente"><i class="fa fa-edit"></i> Editar Penal</a>
        </div>
    {% endif %}

    <div class="modal" id="form_penal_modal"></div>
    <div class="modal" id="form_juicio_modal"></div>

    {% include 'BusetaTransitoBundle:Accidente:no_parte_modal.html.twig' with {'entity': entity} %}
    {% include 'BusetaTransitoBundle:Accidente:conciliacion_modal.html.twig' with {'entity': entity} %}

{% endblock %}

{% block contenido %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('#crearJuicio').on('click', crearJuicio);
        {% for juicio in juicios %}
        $('#editJuicio'+'{{ juicio.id }}').on('click', editarJuicio);
        {% endfor %}

        $('#penalAccidente').on('click', penalAccidente);
        $('#editPenalAccidente').on('click', penalAccidente);

        $('select#buseta_transitobundle_accidente_responsable').chosen();
        $('select#buseta_transitobundle_accidente_quienPaga').chosen();
        $('#btnNoParte').on('click', noParteLoad);
        $('#btn_noparte_aceptar').on('click', aceptarNoParte);

        $('select#buseta_transitobundle_accidente_responsable_conc').chosen();
        $('select#buseta_transitobundle_accidente_quienPaga_conc').chosen();
        $('select#buseta_transitobundle_accidente_conciliacion_conc').chosen();
        $('#btnTransito').on('click', conciliacionLoad);
        $('#btn_conciliacion_aceptar').on('click', aceptarConciliacion);
        $('select#buseta_transitobundle_accidente_conciliacion_conc').change(function () {
            var val_ = $('select#buseta_transitobundle_accidente_conciliacion_conc').selected().val();
            if (val_ == "NOHUBO") {
                $('#row_responsable').css({display: 'none'});
                $('#row_solventa').css({display: 'none'});
            }
            else {
                $('#row_responsable').css({display: ''});
                $('#row_solventa').css({display: ''});
            }
        });

        function editarJuicio(e) {
            if (e !== undefined) {
                e.preventDefault();
            }

            var url = Routing.generate('juicio_edit', {'id': this.name});
            var resultado = this.dataset.resultado;
            var responsable = this.dataset.responsable;
            var quienPaga = this.dataset.quienpaga;
            $.get(url)
                    .done(function (response, textStatus, jqXHR) {
                        $('div#form_juicio_modal').replaceWith($(response.view));

                        $('a#btn_juicio_save').on('click', saveJuicioModal);
                        $('a#btn_juicio_cancel').on('click', function () {
                            $('div#form_juicio_modal').modal('hide');
                        });
                        $('input#transito_juicio_fechaInicio').datetimepicker({
                            'format': 'DD/MM/YYYY'
                        });
                        $('input#transito_juicio_fechaFin').datetimepicker({
                            'format': 'DD/MM/YYYY'
                        });
                        $('select#transito_juicio_resultado').chosen();
                        $('select#transito_juicio_responsable').chosen();
                        $('select#transito_juicio_quienPaga').chosen();
                        $('select#transito_juicio_resultado').val(resultado);
                        $('select#transito_juicio_resultado').trigger("chosen:updated");
                        $('select#transito_juicio_responsable').val(responsable);
                        $('select#transito_juicio_responsable').trigger("chosen:updated");
                        $('select#transito_juicio_quienPaga').val(quienPaga);
                        $('select#transito_juicio_quienPaga').trigger("chosen:updated");
                        $('select#transito_juicio_resultado').change(function () {
                            var val_ = $('select#transito_juicio_resultado').selected().val();
                            if (val_ == "RESPONSABLE") {
                                $('#div_resultados').css({display: ''});
                            }
                            else {
                                $('#div_resultados').css({display: 'none'});
                                $('select#transito_juicio_responsable').val('NOHUBO');
                                $('select#transito_juicio_responsable').trigger("chosen:updated");
                                $('select#transito_juicio_quienPaga').val('NADIE');
                                $('select#transito_juicio_quienPaga').trigger("chosen:updated");
                            }
                        });
                        $('div#form_juicio_modal').modal('show');
                    }).fail(utils._fail).always(function () {
            });
        }

        function crearJuicio(e) {
            if (e !== undefined) {
                e.preventDefault();
            }

            var url = Routing.generate('juicio_new', {'accidente': {{ entity.id }}});
            $.get(url)
                    .done(function (response, textStatus, jqXHR) {
                        $('div#form_juicio_modal').replaceWith($(response.view));

                        $('a#btn_juicio_save').on('click', saveJuicioModal);
                        $('a#btn_juicio_cancel').on('click', function () {
                            $('div#form_juicio_modal').modal('hide');
                        });
                        $('input#transito_juicio_fechaInicio').datetimepicker({
                            'format': 'DD/MM/YYYY'
                        });
                        $('input#transito_juicio_fechaFin').datetimepicker({
                            'format': 'DD/MM/YYYY'
                        });
                        $('select#transito_juicio_resultado').chosen();
                        $('select#transito_juicio_responsable').chosen();
                        $('select#transito_juicio_quienPaga').chosen();
                        $('#div_resultados').css({display: 'none'});
                        $('select#transito_juicio_resultado').change(function () {
                            var val_ = $('select#transito_juicio_resultado').selected().val();
                            if (val_ == "RESPONSABLE") {
                                $('#div_resultados').css({display: ''});
                            }
                            else {
                                $('#div_resultados').css({display: 'none'});
                                $('select#transito_juicio_responsable').val('NOHUBO');
                                $('select#transito_juicio_responsable').trigger("chosen:updated");
                                $('select#transito_juicio_quienPaga').val('NADIE');
                                $('select#transito_juicio_quienPaga').trigger("chosen:updated");
                            }
                        });
                        $('div#form_juicio_modal').modal('show');
                    }).fail(utils._fail).always(function () {
            });
        }

        function saveJuicioModal(e) {
            if (e !== undefined) {
                e.preventDefault();
            }

            $('#btn_juicio_save').find('span')
                    .removeClass('glyphicon')
                    .removeClass('glyphicon-save')
                    .addClass('fa')
                    .addClass('fa-gear')
                    .addClass('fa-spin');
            var form_id = $('div#form_juicio_modal').find('form').attr('id');

            $('form#' + form_id).ajaxSubmit({
                success: utils._done_reload,
                error: utils._fail,
                beforeSubmit: function () {
                    var tempo = '';
                },
                dataType: 'json'
            });
        }

        function penalAccidente(e) {
            if (e !== undefined) {
                e.preventDefault();
            }

            var url = Routing.generate('penal_accidente_new', {'accidente': {{ entity.id }}});
            {% if entity is defined and entity.parte == 'PENAL' %}
            if ($(this).attr('href') !== undefined && $(this).attr('href') === '#editPenalAccidente') {
                url = Routing.generate('penal_accidente_edit', {'id': {{ penal.id }}});
            }
            {% endif %}
            $.get(url)
                    .done(function (response, textStatus, jqXHR) {
                        $('div#form_penal_modal').replaceWith($(response.view));

                        $('a#btn_penal_save').on('click', savePenalModal);
                        $('a#btn_penal_cancel').on('click', function () {
                            $('div#form_penal_modal').modal('hide');
                        });
                        $('input#transito_penal_accidente_fecha').datetimepicker({
                            'format': 'DD/MM/YYYY'
                        });
                        $('input#transito_penal_accidente_fechaExpira').datetimepicker({
                            'format': 'DD/MM/YYYY'
                        });
                        $('div#form_penal_modal').modal('show');
                    }).fail(utils._fail).always(function () {
            });
        }

        function savePenalModal(e) {
            if (e !== undefined) {
                e.preventDefault();
            }

            $('#btn_penal_save').find('span')
                    .removeClass('glyphicon')
                    .removeClass('glyphicon-save')
                    .addClass('fa')
                    .addClass('fa-gear')
                    .addClass('fa-spin');
            var form_id = $('div#form_penal_modal').find('form').attr('id');

            $('form#' + form_id).ajaxSubmit({
                success: utils._done_reload,
                error: utils._fail,
                beforeSubmit: function () {
                    var tempo = '';
                },
                dataType: 'json'
            });
        }

        var utils = {
            _fail: function (jqXHR, textStatus, errorThrown) {
                if (jqXHR.status == 500 && jqXHR.responseText.message != undefined) {
                    $btalerts.addDanger(jqXHR.responseText.message);
                } else if (jqXHR.status == 200) {
                    $btalerts.addSuccess('{{ 'messages.update.success' | trans({}, 'BusetaTransitoBundle') }}');
                }
                else {
                    $btalerts.addDanger('{{ 'messages.unexpected_error' | trans({}, 'BusetaTransitoBundle') }}');
                }
            },
            _done_reload: function (response, textStatus, jqXHR) {
                window.location = "{{ path('accidente_show', { 'id': entity.id }) }}";
            },
        };

        function noParteLoad(e) {
            if (e !== undefined) {
                e.preventDefault();
            }

            $('div#form_noparte_modal').modal('show');
        }

        function aceptarNoParte(e) {
            var responsable = $('select#buseta_transitobundle_accidente_responsable').selected().val();
            var quienPaga = $('select#buseta_transitobundle_accidente_quienPaga').selected().val();
            $.ajax({
                url: '{{ path("accidente_no_parte") }}',
                data: {
                    id: {{ entity.id }},
                    responsable: responsable,
                    quienPaga: quienPaga,
                },
                success: function () {
                    window.location = "{{ path('accidente_show', { 'id': entity.id }) }}";
                }
            });
        }

        function conciliacionLoad(e) {
            if (e !== undefined) {
                e.preventDefault();
            }

            $('div#form_conciliacion_modal').modal('show');
        }

        function aceptarConciliacion(e) {
            var conciliacion = $('select#buseta_transitobundle_accidente_conciliacion_conc').selected().val();
            var responsable = $('select#buseta_transitobundle_accidente_responsable_conc').selected().val();
            var quienPaga = $('select#buseta_transitobundle_accidente_quienPaga_conc').selected().val();
            $.ajax({
                url: '{{ path("accidente_conciliacion") }}',
                data: {
                    id: {{ entity.id }},
                    conciliacion: conciliacion,
                    responsable: responsable,
                    quienPaga: quienPaga,
                },
                success: function () {
                    window.location = "{{ path('accidente_show', { 'id': entity.id }) }}";
                }
            });
        }
    </script>
{% endblock %}
