{% extends "@HatueySoftSecurity/layout.html.twig" %}

{% block title block('header') %}

{% block header 'Cambio de Fecha del Sistema' %}

{% block content %}
    <form action="{{ path('hatueysoft_datetime_fechasistema_update') }}" method="post" enctype="multipart/form-data">
        {{ form_errors(form) }}
        {{ form_row(form._token) }}

        <div class="row">
            <div class="col-md-3">
                {{ form_row(form.fecha) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.activo) }}
            </div>
        </div>
        {# buttons group #}
        <div class="row">
            <div class="col-md-4">
                <input type="submit" class="btn btn-primary" value="Salvar" />
            </div>
        </div>

    </form>
{% endblock content %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#datetime_fechasistema_type_fecha').datetimepicker({
                useCurrent: false,
                format: 'DD/MM/YYYY'
            });
        });
    </script>
{% endblock %}
